doctype html
html

  head
    meta(charset='utf-8')
    title Not Found
  
  body
    h1 404
    p The page you request is not available. It seems that the URL is not served by the server.
    p Are we mistanke something? Please 
      a(href="/comment") let us know.